@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    background-color: #bde0fe;
}

.navbar a:hover {
    background-color: #a2d2ff;
    color: white;
    transition: .3s;
}

.navbar-brand {
    color: black;
}

/* INICIO */

.hero {
    background-image: url("../img/barraolimpica.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: right;
    align-items: end;
}

.titulo__inicio {
    font-weight: 600;
    padding: 0.5rem;
    margin-right: 10px;
    color: black;
    background-color:#ffafcc;

}

/* QUIENES SOMOS */

.container__quienes {
    padding-inline: 50px;
    background-color:#ffe5ec;
}

.img-fluid {
    width: 100%;
}


/* SERVICIOS */

.contenedor__servicios {
    display: grid;
    background-color: #ffe5ec;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "servicios servicios musculacion funcional"
        "servicios servicios running     hiit"
    ;
    gap: 30px 30px;
    padding-inline: 50px;
    padding: 10px;
}

.caja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: black;
    background-color: #ffafcc;
}

.servicios {
    grid-area: servicios;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.musculacion {
    grid-area: musculacion;
}

.funcional {
    grid-area: funcional;
}

.running {
    grid-area: running;
}

.hiit {
    grid-area: hiit;
}

.imagen {
    width: 100%;
}

.titulo_servicio {
    padding: 10%;
    font-size: 2.5rem;
    font-weight: 600;
} 

.titulo__actividades {
    padding: 10px;
}

/* MIS CLASES */

.contenedor__planes {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffafcc;
} 

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-inline: 20px;
}


.row h1 {
    font-size: 40px;
    font-weight: 600;
    color: black;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.row h2 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.row__cards {
    margin-top: 20px;
}

.contenedor__planes .card {
    display: flex;
    padding: 10px;
    background-color: #ffe5ec;
    color: black;
    border: 0;
    border-radius: 5px;
    position: relative;
    flex-direction: column;
}

.contenedor__planes .card-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contenedor__planes .card-body {
    font-size: 20px;
    font-weight: 400;
}

.precio {
    font-weight: 800;
    font-size: 3rem;
}

.contenedor__planes h4 {
    font-size: 30px;
    font-weight: 600;
}

.contenedor__planes .card-text {
    font-size: 20px;
    font-weight: 400;
}


/* CONTACTO */

.contenedor__contacto {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "infocontacto   formcontacto";
    ;
}


.infocontacto {
    grid-area: infocontacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffe5ec;
}


.infocontacto h1 {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.infocontacto p {
    font-size: 1rem;
    font-weight: 400;
}


.infocontacto a {
    text-decoration: none;
    color: black;
}

.infocontacto i {
    font-size: 2rem;
}

.formcontacto {
    grid-area: formcontacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffafcc;
}

.titulo-contacto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.titulo-contacto h2 {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    text-align: start;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

.form-grupo {
    display: flex;
    flex-direction: column;
}

.input,
.textarea {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}

.boton-contacto {
    align-self: start;
    background-color: #ffe5ec;
    color: black;
    font-weight: 600;
    padding-inline: 1rem;
    transition: .3s;
}

.boton-contacto:hover {
    background-color: #ffafcc;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 4rem;
}

.footer h2 {
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.redes__sociales{
    display: flex;
    gap: 1rem;
    font-size: 20px;
  }

.redes__sociales a {
    color: #333;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

i {
    transition: .3s;
}

.redes__sociales a:hover {
    background-color: #ffafcc;
    color: white;
}

.copy {
    font-size: 1rem;
    color: white;
    padding-top: 2rem;
  }



@media screen and (max-width: 768px) {
    .navbar {
        background-color: #ffafcc;
    }
    .hero {
        background-image: url("../img/musculacion.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .titulo__inicio {
        background-color: #bde0fe;
        padding: 3px;
        margin-bottom: 20px;
    }

    .contenedor__servicios {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "servicios      servicios"
            "musculacion    funcional"
            "running        hiit"
        ;
    }

    .caja {
        background-color: #bde0fe;
    }


    .contenedor__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "infocontacto"   
            "formcontacto";
    }

}

@media screen and (max-width: 480px) {
    .navbar  {
        background-color: #ffafcc;
    }
    
    .hero {
        background-image: url("../img/musculacion.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .titulo__inicio {
        background-color: #bde0fe;
        padding: 3px;
        margin-bottom: 20px;
    }

    .contenedor__servicios {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "servicios"
            "musculacion"
            "funcional"
            "running"
            "hiit"
        ;
    }

    .caja {
        background-color: #bde0fe;
    }


    .contenedor__contacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "infocontacto"   
            "formcontacto";
    }
}
