.contenedor-quienes {
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .cards-profes {
        padding: 50px;
        display: flex;
        gap: 20px;

        .card {
            background-color: $secondaryColor;
            border-radius: 30px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            flex: 1;

            .card-imagen {
                max-width: 100%;
            }

            .info-profes {
                padding: 30px;
            }
        }
    }
}