.contenedor-quienes {
    background-color: $mainColor;
    display: flex;
    padding: 2rem;

    .cards-profes {
        display: flex;
        gap: 20px;

        .card {
            background-color: $secondaryColor;
            border-radius: 30px;
            overflow: hidden;
            display: flex;
            text-align: center;
            gap: 10px;
            flex: 1;

            .card-imagen {
                max-width: 100%;
            }

            .info-profes {
                padding: 30px;
            }

            .card-titulo {
                font-size: 1.5rem;
                color: black;
                font-weight: 700;
            }

            .card-texto {
                font-size: 1.2rem;
                font-weight: 400;
                color: black;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
    }
}