.contenedor__servicios {
    display: grid;
    background-color: $mainColor;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "servicios servicios musculacion funcional"
        "servicios servicios running     hiit"
    ;
    gap: 30px 30px;
    padding-inline: 50px;
    padding: 10px;

    .servicios {
        grid-area: servicios;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .titulo_servicio {
            padding: 10%;
            font-size: 2.5rem;
            font-weight: 700;
        }

        .descripcion_texto {
            color: black;
            font-weight: 400;
        }
    }    

    .caja {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        color: black;
        background-color: $secondaryColor;

        &.musculacion {
            grid-area: musculacion;
        }
        
        &.funcional {
            grid-area: funcional;
        }
        
        &.running {
            grid-area: running;
        }
        
        &.hiit {
            grid-area: hiit;
        }

        .imagen {
            width: 100%;
        }

        .titulo__actividades {
            font-size: 1.5rem;
            font-weight: 400;
            padding: 10px;
        }

        .actividades {
            font-size: 1rem;
            font-weight: 400;
            color: black;
            font-weight: 400;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "servicios      servicios"
            "musculacion    funcional"
            "running        hiit"
        ;
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "servicios"
            "musculacion"
            "funcional"
            "running"
            "hiit"
        ;
    }

}